
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101820;
}

center {
    position: relative;
}

.select-group {
    display: flex;
    background: #31384c;
    border-radius: 50px;

}

.select {
    position: relative;
}

.select-btn {
    position: relative;
    background: #31384c;
    width: 220px;
    height: 60px;
    border-radius: 50px;
}


.select-btn > .select-title {
    position: absolute;
    top: 50%;
    left: 15%;
    margin: 0;
    color: #cccccc;
    transform: translate(0, -50%);
    font-family: Cairo, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}


.select-btn > .select-title.is-focus {
    color: rgba(188, 166, 75, 1);
    font-weight: bold;

}

.select-btn:hover {
    background: #222735;
    cursor: pointer;
}


.select-dropdown {
    position: absolute;
    top: 65px;
    left: 10%;
    width: 0;
    background: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: width .22s cubic-bezier(0, 1.25, 1, 1.07);
    z-index: 9999;
}

.is-visible {
    width: 70%;
}

.select-dropdown > .custom-options::-webkit-scrollbar {
    display: none;
}

.select-dropdown > .custom-options {
    max-height: 147px;
    position: relative;
    background-color: white;
    padding: 0;
    margin: 10px 0;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.disabled {
    opacity: 0.2;
    user-focus: none;
}

.select-btn.actived {
    background: #222735;
    cursor: pointer;
}

.select-dropdown > .custom-options li {
    cursor: pointer;
    padding: 4px 0 4px 15px;
    font-family: Cairo, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #31384c;
    text-transform: uppercase;
    list-style: none;

}

.select-dropdown > .custom-options li:hover {
    background-color: #d2bf89;
}

.select-arrow {
    position: absolute;
    right: 25%;
    top: 50%;
}


.arrow-line {
    position: absolute;
    width: 9px;
    height: 1px;
    background-color: #cccccc;
    transition: .22s cubic-bezier(0, 1.25, 1, 1.07);
}

.arrow-line.first {
    transform: translateX(-3px) rotate(45deg);
}

.arrow-line.second {
    transform: translateX(3px) rotate(-45deg);
}

.arrow-line.is-focus {
    background-color: rgba(188, 166, 75, 1);
}

.arrow-line.first.is-focus {
    transform: translateX(0) rotate(-45deg);

}

.arrow-line.second.is-focus {
    transform: translateX(0) rotate(45deg);

}

.arrow-line.first.actived {
    transform: translateX(-3px) rotate(-45deg);

}

.arrow-line.second.actived {
    transform: translateX(3px) rotate(45deg);

}


.select-input {
    position: absolute;
    width: 0;
    color: transparent;
    appearance: none;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.custom-btn {
    width: 150px;
    height: 40px;
    /*    opacity: 0.5;*/
    background: #BCA64B;
    border-radius: 50px;
    color: #101820;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

.custom-btn:hover {
    background: #958237;
    cursor: pointer;

}
